<section class="logoBackgroundImage">
  <div class="textOrientation textStyling">
    <h1>
      Shop Bier Guerilla Breisgau
    </h1>
    <p>
      Ein wirklicher Shop ist es zugegebener maßen ja nicht. Wer trotzdem Lust hat einen unserer Fanartikeln zu erwerben
      darf sich gerne über die im Kapitel Kontakt angegebene Wege an uns wenden.
    </p>
    <p>
      Im Sortiement befinden sich im Moment folgende Produkte:
    </p>
    <div class="shopItemsContainer test">
      <mat-card class="cardStyling">
        <mat-card-header>
          <mat-card-title>BGB x SC Schal</mat-card-title>
          <mat-card-subtitle>Bier Guerilla Breisgau X Sc Freiburg - Schal</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="imageStyling"src="./assets/images/schal.jpg" [alt]="'Picture of member Schal'">
      </mat-card>
      <mat-card class="cardStyling">
        <mat-card-header>
          <mat-card-title>Aufkleber (rund)</mat-card-title>
          <mat-card-subtitle>Edition: 5 Years - Blood, Sweat & Bears</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="imageStyling"src="./assets/images/aufkleber1.jpg" [alt]="'Picture of member Schal'">
      </mat-card>
      <mat-card class="cardStyling">
        <mat-card-header>
          <mat-card-title>Aufkleber</mat-card-title>
          <mat-card-subtitle>Edition: 5 Years - Blood, Sweat & Bears</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="imageStyling" src="./assets/images/aufkleber2.jpg" [alt]="'Picture of member Schal'">
      </mat-card>
      <mat-card class="cardStyling">
        <mat-card-header>
          <mat-card-title>Kaputzenpulli 2021</mat-card-title>
          <mat-card-subtitle>in Bearbeitung</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="imageStyling" src="./assets/images/hoodie.jpg" [alt]="'Picture of member Schal'">
      </mat-card>
    </div>
  </div>
</section>
