<section class="content">
  <div class="wrapperRow spaceBetweenCardsHor">
    <mat-card class="wrapperCollumn titleCardPadding">
      <mat-card-title>
        <b class="basicTitleColor">Shop Bier Guerilla Breisgau</b>
      </mat-card-title>
    </mat-card>
  </div>
  <div class="wrapperRow spaceBetweenCardsHor">
    <mat-card class="wrapperCollumn containerTextPadding">
      <mat-card-content>
        <p>
          Ein wirklicher Shop ist es zugegebener maßen ja nicht. Wer trotzdem Lust hat einen unserer Fanartikeln zu
          erwerben
          darf sich gerne über die im Kapitel Kontakt angegebene Wege an uns wenden.
        </p>
        <p>
          Im Sortiement befinden sich im Moment folgende Produkte:
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="shopItems | async as shopItems" class="spaceBetweenCardsHor">
    <div class="wrapperRow">
      <mat-card class="wrapperCollumn spaceBetweenCardsVert">
        <mat-card-header>
          <mat-card-title class="basicTitleColor">{{ shopItems[0].title }}</mat-card-title>
          <mat-card-subtitle>{{shopItems[0].subtitle }}</mat-card-subtitle>
        </mat-card-header>
        <div class="imageContainerFlex">
          <img mat-card-image class="imageStylingBase imageStylingShopScarf" [src]="shopItems[0].url"
               [alt]="'Picture of member Schal'">
        </div>
      </mat-card>
      <mat-card class="wrapperCollumn">
        <mat-card-header>
          <mat-card-title class="basicTitleColor">{{ shopItems[1].title }}</mat-card-title>
          <mat-card-subtitle>{{shopItems[1].subtitle }}</mat-card-subtitle>
        </mat-card-header>
        <div class="imageContainerFlex">
          <img mat-card-image class="imageStylingBase imageStylingShop" [src]="shopItems[1].url"
               [alt]="'Picture of member Schal'">
        </div>
      </mat-card>
    </div>
    <div class="wrapperRow">
      <mat-card class="wrapperCollumn spaceBetweenCardsVert">
        <mat-card-header>
          <mat-card-title class="basicTitleColor">{{ shopItems[2].title }}</mat-card-title>
          <mat-card-subtitle>{{shopItems[2].subtitle }}</mat-card-subtitle>
        </mat-card-header>
        <div class="imageContainerFlex">
          <img mat-card-image class="imageStylingBase imageStylingShop"  [src]="shopItems[2].url"
               [alt]="'Picture of member Schal'">
        </div>
      </mat-card>
      <mat-card class="wrapperCollumn">
        <mat-card-header>
          <mat-card-title class="basicTitleColor">{{ shopItems[3].title }}</mat-card-title>
          <mat-card-subtitle>{{ shopItems[3].subtitle }}</mat-card-subtitle>
        </mat-card-header>
        <div class="imageContainerFlex">
          <img mat-card-image class="imageStylingBase imageStylingShop" [src]="shopItems[3].url"
               [alt]="'Picture of member Schal'">
        </div>
      </mat-card>
    </div>
  </div>
</section>
