@import "src/styles/stylebasics";

.imageStylingShop {
  justify-content: center;
  object-fit: contain;
  max-height: 400px;
}

.imageStylingShopScarf {
  //max-width: 600px;
  max-height: 400px;
  padding-top: 20%;
  padding-left: 25px;
  padding-right: 25px;
  object-fit: contain;
}
