<div class="content">
  <div class="cardStyling">
    <mat-card class="headerCard cardMargin">
      <mat-card-title>Events</mat-card-title>
    </mat-card>
    <mat-card class="cardMargin subtext">
      <p>
        Eine Auswahl unserer Events (Liste wird hoffentlich noch lange fortgesetzt):
      </p>
      <ul>
        <li>10.10.2019: Auswärtsfahrt Union Berlin</li>
        <li>21.6.2019: FG Turnier in Kappel</li>
        <li>22.5.2017: Auswärtsfahrt Frankfurt/Darmstadt (JGA Andy und Stefan)</li>
        <li>10.9.2016: „Weihnachtsfeier“ Biergarten Feierling</li>
        <li>23.7.2016: FG Turnier</li>
        <li>16.5.2016: Auswärtsfahrt Union Berlin</li>
        <li>23.5.2015: Auswärtsfahrt Hannover</li>
        <li>19.9.2014: Sommerfest</li>
        <li>26.4.2014: Auswärtsfahrt Gladbach</li>
        <li>01.02.2014: Auswärtsfahrt Mainz</li>
        <li>30.11.2013: Auswärtsfahrt Liberec</li>
      </ul>
    </mat-card>
  </div>
</div>

<!--<div class="content">-->
<!--  <div class="cardStyling">-->
<!--    <mat-card> Events</mat-card>-->
<!--    <mat-card>-->
<!--      <mat-card-content><h1>-->
<!--        Events-->

<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--  </div>-->
<!--</div>-->
