<section class="content">
  <div class="wrapper first">
    <mat-card class="cardHeaderColor wrCollumn first">
      <mat-card-title><b>Schwimmnudeln</b></mat-card-title>
    </mat-card>
  </div>
  <div class="wrapper">
    <mat-card class="cardMargin subtext wrCollumn paddingRight">
      <p>
        Wie es diese Kategorie in unsere Homepage geschafft hat kann heute mit Gewissheit keiner mehr genau sagen.
        Vielleicht ist das auch der Tatsache geschuldet, dass die Ideen für diese Homepage auf der Auswärtsfahrt beim
        Europapokal-Spiel in Liberec entstanden sind. Dass dabei geringe Mengen an tschechischem Bier eine bestimmte
        Rolle gespielt haben ist selbtverständlich.
      </p>
      <p>
        Die genaue Ausarbeitung dieser Seite inkl. der Verbindung von Schwimmnudeln zu unserem Fanclub wird unserem
        Mann für die Öffentlichkeitsarbeit noch einiges an Kopfschmerzen zerbrechen.
      </p>
    </mat-card>
    <mat-card class="cardMargin wrCollumn">
      <img mat-card-image class="imageStyling" src="./assets/images/Schwimmnudeln.jpg"
           [alt]="'Picture of member Schal'">
    </mat-card>
  </div>
</section>
