<!--<carousel [cellWidth]="300" [height]="400" [autoplay]="true" [loop]="true" [autoplayInterval]="3000" [cellsToShow]="2"-->
<!--&gt;-->
<!--  <div *ngFor="let member of members" class="carousel-cell">-->
<!--    <mat-card class="example-c ard">-->
<!--      <mat-card-header>-->
<!--        <mat-card-title>{{member.name}}</mat-card-title>-->
<!--        <mat-card-subtitle>{{member.title}}</mat-card-subtitle>-->
<!--      </mat-card-header>-->
<!--      <img mat-card-image [src]="member.url" [alt]="'Picture of member ' + member.name">-->
<!--    </mat-card>-->
<!--  </div>-->
<!--</carousel>-->
<ng-image-slider [images]="members2" [imageSize]="{width: '50%', height: 300}" [autoSlide]="{interval: 2, stopOnHover: true}" [infinite]="true"
                 #nav></ng-image-slider>
<!--<carousel [cellWidth]="300" [height]="400" [autoplay]="true" [loop]="true" [autoplayInterval]="3000" [cellsToShow]="2"-->
<!--&gt;-->
<!--  <div *ngFor="let member of members" class="carousel-cell">-->
<!--    <mat-card class="example-c ard">-->
<!--      <mat-card-header>-->
<!--        <mat-card-title>{{member.name}}</mat-card-title>-->
<!--        <mat-card-subtitle>{{member.title}}</mat-card-subtitle>-->
<!--      </mat-card-header>-->
<!--      <img mat-card-image [src]="member.url" [alt]="'Picture of member ' + member.name">-->
<!--    </mat-card>-->
<!--  </div>-->
<!--</carousel>-->
