.toolbarColoring {
  background-color: #d91414;
  color: black;
}

.toolbarColoringDark {
  background-color: black;
  color: #d91414;
}

.cardColoring {
  background-color: white;
  color: black;
}
.titleColoring {
  color: #d91414;
}

.cardColoringDark {
  background-color: black;
  color: #d91414;
}

.titleColoringDark {
  color: #ff4646;
}
