:host {
  flex-grow: 1;
  align-items: stretch;
  width: fit-content;
  block-size: fit-content;
}

a {
  color: #d91414;
  font-weight: bold;
  font-size: 18px;
}

// -- FONT AND COLOR --
.basicTitleColor {
  color: #d91414;
}

.basicTextColor {
  color: black;
}

.titleCardPadding {
  padding-left: 40px;
  padding-top: 26px;
  padding-bottom: 26px;

  mat-card-title {
    font-size: 32px !important
  }
}


// -- MARGINS ---

.spaceBetweenCardsHor {
    margin-bottom: 10px;
}
.spaceBetweenCardsVert {
    margin-right: 10px;
}

// -- BASIC STYLE
// - image
.imageContainerFlex {
  display: flex;
}
.imageStylingBase {
  justify-content: center;
  object-fit: contain;
  padding-top: 10px;
}
// -- padding, sizing, etc
.containerTextPadding {
  padding: 40px 40px 40px;
}

.content {
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

// -- layout
.wrapperRow {
  display: flex;
}

.wrapperCollumn {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .wrapperRow {
    display: block;
  }
  .wrapperCollumn {
    display: block;

  }
  .imageOrder {
    order: 2;
  }
  .textOrder {
    order: 1;
  }
  .spaceBetweenCardsHor {
    margin-bottom: 5px;
  }
  .spaceBetweenCardsVert {
    margin-right: 0;
    margin-bottom: 5px;
  }
  .containerTextPadding {
    padding: 20px 20px 20px;
  }
  a {
    color: #d91414;
    font-weight: bold;
    font-size: 16px;
  }
  .titleCardPadding {
    padding-left: 20px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .content {
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 5px;
  }
}
