<section class="content">
  <div class="wrapperRow spaceBetweenCardsHor">
    <mat-card class="wrapperCollumn titleCardPadding">
      <mat-card-title><b class="basicTitleColor">Kontakt</b></mat-card-title>
    </mat-card>
  </div>
  <div class="wrapperRow">
    <mat-card class="wrapperCollumn spaceBetweenCardsVert">
      <img mat-card-image class="imageStylingBase" src="./assets/images/logoold.png"
           [alt]="'Bier ist ganz wichtig'">
    </mat-card>
    <mat-card class="wrapperCollumn containerTextPadding">
      <p>
        Kontaktiert uns gerne persönlich im Stadion, in der Kneipe, oder über unsere Online-Kanäle:
      </p>
      <ul class="listStyling">
        <li>
          <a href="mailto: bgb@dirkschnaiter.de">
            E-Mail
          </a>
        </li>
        <li>
          <a href="https://de-de.facebook.com/bierguerillabreisgau/">
            Facebook
          </a>
        </li>
        <li>
          <a href="https://twitter.com/B_Guerilla">Twitter</a>
        </li>
      </ul>
    </mat-card>

  </div>
</section>
