<section class="logoBackgroundImage">
  <div class="textOrientation textStyling">
    <h1>
      Kontakt
    </h1>
    <p>
      Kontaktiert uns gerne persönlich im Stadion, in der Kneipe, oder über unsere Online-Kanäle:
    </p>
    <mat-list>
      <mat-list-item>
        E-Mail:
        <a href="mailto: bgb@dirkschnaiter.de">
          bgb@dirkschnaiter.de
        </a>
      </mat-list-item>
      <mat-list-item>
        Facebook:
        <a href="https://de-de.facebook.com/bierguerillabreisgau/">
          https://de-de.facebook.com/bierguerillabreisgau/
        </a>
      </mat-list-item>
      <mat-list-item>
        Twitter:
        <a href="https://twitter.com/B_Guerilla">https://twitter.com/B_Guerilla</a>
      </mat-list-item>
    </mat-list>
  </div>
</section>
