<section class="content">
  <div class="wrapper first">
    <mat-card class="cardHeaderColor wrCollumn first">
      <mat-card-title><b>Kontakt</b></mat-card-title>
    </mat-card>
  </div>
  <div class="wrapper">
    <mat-card class="cardMargin wrCollumn paddingRight">
      <img mat-card-image class="imageStyling" src="./assets/images/logoold.png"
           [alt]="'Picture of member Schal'">
    </mat-card>
    <mat-card class="cardMargin subtext wrCollumn">
      <p>
        Kontaktiert uns gerne persönlich im Stadion, in der Kneipe, oder über unsere Online-Kanäle:
      </p>
      <ul class="listStyling">
        <li>
          E-Mail:
          <a href="mailto: bgb@dirkschnaiter.de">
            bgb@dirkschnaiter.de
          </a>
        </li>
        <li>
          Facebook:
          <a href="https://de-de.facebook.com/bierguerillabreisgau/">
            https://de-de.facebook.com/bierguerillabreisgau/
          </a>
        </li>
        <li>
          Twitter:
          <a href="https://twitter.com/B_Guerilla">https://twitter.com/B_Guerilla</a>
        </li>
      </ul>
    </mat-card>

  </div>
</section>
