.content {
  display: flex;
  justify-content: center;
}

.headerPadding {
  margin: 30px;
}

.cardMargin {
  margin-top: 10px;
}

.cardColoring {
  background-color: #ffffff;
}

.cardHeaderColor {
  color: #d91414;
}

.mat-card-title {
  color: #d91414;
}

.cardStylingLeft {
  margin-top: 20px;
  width: 70%;
  border: none;
  flex: 1;
  margin-right: 5px;
  margin-left: 5px;
}

.cardStylingRight {
  margin-top: 20px;
  width: 30%;
  border: none;
  min-height: 100%;
  margin-right: 5px;
  margin-left: 5px;
}

.newsCard {
  margin-top: 10px;
}

.newsCardImg {
  height: 300px;
  object-fit: contain;
}

.imageContainer {
  margin-top: 50px;
  width: 40%;
  min-height: 50%;
  object-fit: cover;
  border: none;
}

.imageStyling {
  object-fit: fill;
  height: 550px;
  border: 1px solid black;
}

