<section>
  <h1>
    Bier Guerilla Breisgau
  </h1>
  <p>
    Die Idee zu unserem Fanclub entstand nach dem Heimspiel gegen Eintracht Frankfurt am 07.10.2013. Nichts lag näher,
    als dem Lieblingsgetränk im Station einen gebührenden Auftritt zu geben - geboren war der Fanclub "Bier Guerilla
    Breisgau", kurz BGB.

    In einem, durch viel Alkohol geprägten Abend wurden viele here Ziele und Grundsätze diskutiert. So wollten wir uns
    für
    ein Alkoholfreies-Bier-Verbot und Mindestlohn in Stadien einsetzen. Fleißig wurden auch Ämter wie die des
    Frauen-Beauftragten oder des Niveau-Beauftragen verteilt. Mit einstimmiger Mehrheit wurde unser Präsident gewählt,
    der
    es sich nicht nehmen lassen wollte bei Auswährtsfahrten künftig im Anzug anzutreten.

    Kurzum eine lustige Truppe SC Fans, die es genießen die Heimspiele miteinander zu verbringen und dabei das ein oder
    andere Bier trinken.
  </p>
</section>
