@import "src/styles/stylebasics";

.titleRow {
  width: 70%;
  padding-right: 10px;
}

.newsColumn {
  flex-basis: 30%;
}
.mainColumn {
  flex-basis: 70%;
}

.newsCard {
  background-color: #d91414;
  color: white;
}

.newsTextPadding {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
}

.titleImageSize {
  //max-height: 550px;
  flex-basis: 100%;
  object-fit: fill;

  //padding-right: 0;
}
