<section class="content">
  <div class="wrapperRow spaceBetweenCardsHor">
    <mat-card class="wrapperCollumn titleCardPadding">
      <mat-card-title><b class="basicTitleColor">Kontakt</b></mat-card-title>
    </mat-card>
  </div>
  <div class="wrapperRow">
    <!--    <a href="@{/api/v1/authtest}">Log In</a>-->
<!--    <a [href]=url>Log In</a>-->
    <button (click)="login()"> Login</button>
    <button (click)="logout()"> Logout</button>
    <!--    <form class="example-form">-->
    <!--      <mat-form-field class="example-full-width" appearance="fill">-->
    <!--        <mat-label>Benutzer</mat-label>-->
    <!--        <input matInput type="text">-->
    <!--      </mat-form-field>-->
    <!--      <mat-form-field class="example-full-width" appearance="fill">-->
    <!--        <mat-label>Passwort</mat-label>-->
    <!--        <input matInput type="password">-->
    <!--      </mat-form-field>-->
    <!--    </form>-->
  </div>
</section>
