<section class="content">
  <div class="wrapperRow spaceBetweenCardsHor">
    <mat-card class="wrapperCollumn titleCardPadding">
      <mat-card-title>
        <b class="basicTitleColor">Mitgliedschaft</b>
      </mat-card-title>
    </mat-card>
  </div>
  <div class="wrapperRow spaceBetweenCardsHor">
    <mat-card class="wrapperCollumn columnLeft containerTextPadding spaceBetweenCardsVert">
      <mat-card-title class="basicTitleColor">Nuuuurr der SCF</mat-card-title>
      <p class="scf">
        Falls Ihr Lust habt, bei uns Mitglied zu werden, um Spaß zu haben, den SC anzufeuern und mit uns Bier zu
        trinken,
        zögert nicht, wir freuen uns immer über Zuwachs. Nehmt einfach Kontakt (Verlinkung auf Kontakt-Unterseite) zu
        uns
        auf, oder direkt Mitgliedsantrag ausfüllen und abschicken.
      </p>
      <h2 class="basicTitleColor titleFontSize">Protokolle:</h2>
      <ul>
        <li>23.10.2013 Fanclubgründung</li>
        <li>18.10.2014 1. Generalversammlung</li>
        <li>26.10.2015 2. Generalversammlung</li>
        <li>03.11.2016 3. Generalversammlung</li>
        <li>22.10.2017 4. Generalversammlung</li>
        <li>08.12.2018 6. Generalversammlung</li>
        <li>07.12.2019 7. Generalversammlung</li>
        <li>28.11.2020 8. Generalversammlung</li>
      </ul>
    </mat-card>
    <mat-card class="wrapperCollumn columnRight imageContainerFlex">
      <img mat-card-image class="imageStylingBase" src="./assets/images/laststadion.jpeg"
           [alt]="'Picture of member Schal'">
    </mat-card>
  </div>
  <div class="wrapperRow">
    <mat-card class="wrapperCollumn tabGroup">
      <mat-tab-group [dynamicHeight]="false">
        <mat-tab class="test" label="Mitgliederliste">
          <div class="memberPadding">
            <bgb-carousel></bgb-carousel>
          </div>
        </mat-tab>
        <mat-tab label="Satzung">
          <div class="containerTextPadding">
            <p>
              Wie in jedem richtigen Fanclub darf natürlich auch bei uns die Satzung nicht fehlen.
            </p>
            <p>
              <a href="./assets/pdf/SatzungSCFBierGuerillaBreisgau.pdf" content="pdf">
                Satzung Fanclub Bier Guerilla Breisgau (BGB)
              </a>
            </p>
          </div>
        </mat-tab>
        <mat-tab label="Antrag">
          <div class="containerTextPadding">
            <p>
              Bevor ihr mit dem Gedanken spielt unserem Fanclub beitreten zu wollen schaut euch bitte einige Fotos in
              der
              Rubrik
              Bilder an. Falls ihr dann immer noch Lust auf Stadionatmosphäre, gute Laune und unser Lieblingsgetränk
              habt
              findet
              ihr den Mitgliedsantrag für BGB und Fangemeinschaft unter nachfolgendem Link.
            </p>
            <ul>
              <li>
                <a href="./assets/pdf/FG-Mitgliedsantrag.pdf" content="pdf">
                  Mitgliedsantrag Bier Guerilla Breisgau
                </a>
              </li>
              <li>
                <a href="./assets/pdf/FG-Mitgliedsantrag.pdf" content="pdf">
                  Mitgliedsantrag Fangemeinschaft
                </a>
              </li>
            </ul>
            <p>
              Der Mitgliedsbeitrag bei uns kostet 20 EUR pro Saison. Davon gehen 5 EUR an die Fangemeinschaft, für die
              es
              dafür
              bei Auswärtsfahrten und Dauerkarte tolle Vergünstigungen gibt.<br/>
              Wenn ihr Lust habt mitzumachen, einfach die beiden Anträge ausfüllen und zu einem Heimspiel mitbringen.
              Alternativ
              könnt ihr die ausgefüllten und unterschriebenen Dokumente auch gerne einscannen und per Email zuschicken.
            </p>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</section>
