/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap-grid.scss";
@import url('https://fonts.googleapis.com/css?family=Arvo');

*:not(mat-icon) {
  font-family: Arvo /* Replace with your custom font */, sans-serif !important;
  /* Add !important to overwrite all elements */
}


html, body {
  min-height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Arvo, serif;
  font-variant: normal;
  background-color: #f0f0f1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.test {
  font-family: Arvo, serif;
  font-variant: normal;
}
body, .smooth-container {
  scroll-behavior: smooth
}
