<div [class]="bigBackground ? 'background background-change' : 'backgroundSmall'">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <button matTooltip="Facebook" mat-icon-button [routerLink]="['/contact']">
        <mat-icon>facebook</mat-icon>
      </button>
      <button matTooltip="Instagram" mat-icon-button [routerLink]="['/contact']">
        <mat-icon>image</mat-icon>
      </button>
      <button matTooltip="Email" mat-icon-button [routerLink]="['/contact']">
        <mat-icon>mail</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <button mat-button routerLink="/home" routerLinkActive="active-link">
        Home
      </button>
      <button mat-button routerLink="/membership" routerLinkActive="active-link">
        Mitgliedschaft
      </button>
      <button mat-button [routerLink]="['/events']" routerLinkActive="active-link">
        Events
      </button>
      <button mat-button [routerLink]="['/']" class="homeBase" routerLinkActive="active-link">
        <span class="homeFirst">B</span>
        <span class="homeMiddle">G</span>
        <span class="homeLast">B</span>
      </button>
      <button mat-button [routerLink]="['/shop']" routerLinkActive="active-link">
        Shop
      </button>
      <button mat-button [routerLink]="['/schwimmnudeln']" routerLinkActive="active-link">
        Schwimmnudeln
      </button>
      <button mat-button [routerLink]="['/contact']" routerLinkActive="active-link">
        Kontakt
      </button>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
